.ddsubmenustyle,.ddsubmenustyle div{font:15px Verdana;position:absolute;left:0;top:0;list-style-type:none;background:white;border:1px solid white;border-bottom-width:0;visibility:hidden;z-index:100;margin:0;padding:0}
.ddsubmenustyle ul{position:absolute;left:0;top:0;list-style-type:none;border:0 none;margin:0;padding:0}
.ddsubmenustyle li a{display:block;min-width:190px;color:white;background:#008AD0;text-decoration:none;border-bottom:1px solid white;height:auto;width:auto;padding:10px 3px 10px 12px}
* html .ddsubmenustyle li{display:inline-block;width:170px}
.ddsubmenustyle li a:hover{background-color:#0079b5;color:#fff}
.ddsubmenustyle li a.selected{background-color:#008AD0;color:#55ffff}
.downarrowpointer{padding-left:4px;border:0}
.rightarrowpointer{position:absolute;padding-top:3px;left:100px;border:0}
.ddiframeshim{position:absolute;z-index:500;background:transparent;width:0;height:0;display:block;border-width:0}
#ddsubmenu2 li a{min-width:220px}
#ddsubmenu2 ul li a{min-width:160px}