* {	margin: 0;	padding: 0;}
a {	text-decoration: underline;	color: white;}
a:hover {	text-decoration: none;}
body {	font-size: 10pt;font-family: Verdana, sans-serif;width:1200px;margin:0px auto;box-shadow:0px 50px 50px 0px #001e5b;	}
br.clear {	clear: both;}
h2,h3,h4 {	margin-bottom: 1em;	font-family: Arvo, serif;	color: #000000;}
img.left {	float: left;	margin: 0 20px 20px 0;}
img.top {	margin: 8px 0 20px 0;}
ul {	margin-bottom: 1.25em;}
.date {	background: #222222;color: #ffffff;	font-size: 0.75em;	padding: 2px;	display: inline-block;	width: 45px;	text-align: center;	margin-right: 1em;}
.imageList {	list-style: none;}
.imageList li {	clear: both;}
.box {	margin: 0 0 30px 0;}
#content {	width: 854px;	margin: 0 0 0 270px;	padding: 0;}
#copyright {	padding: 40px 0 80px 0;	text-align: center;	color: #777777;}
#copyright a {color: #777777;}
#fixedheader {left:0;top:0;width:100%;height: 70px;position:relative;background:#008AD0;color:white;font-family:serif;font-weight:bolder;text-shadow: 2px 2px 2px rgba(0,0,0,0.5);box-shadow: inset 0px -40px 60px 0px #008AD0;border-bottom: solid 2px #008AD0;}
#main {	position: relative;}
#outer {position: relative;left:0;width: auto;}
#search {position: absolute;bottom: 0;right: 28px;height: 138px;line-height: 138px;}
#search input.text {padding: 10px 40px 10px 10px;background: #ffffff url(images/search.png) top right no-repeat;border: 0;width:250px;	color: #777;}
#sidebar {width: 250px;float: left;padding: 0;}
#layout{width:auto;}
#navfooter {padding-bottom:8px; float:left;height:auto;line-height:20px;width:inherit;font-size:medium;background: #004082;color: #ffffff;font-family:serif;}
#navfooter a {text-decoration: none;	font-size:larger;font-family:serif;color: #ffffff;}
#navfooter p {padding-bottom: 10px;padding-top: 10px;}
#navfooter a:HOVER {text-decoration: none;font-size:larger;font-family:serif;color: #55ffff;}
#innerbody{padding-left: 40px;padding-right:40px;font-style: normal;font-family:Verdana;line-height:20px;}
#innerbody p{text-align:justify;font-size:14px;padding-bottom:40px;}
#innerbodymain{font-style: normal;font-family:Verdana;line-height:20px;font-size:16px;padding-left:30px;padding-right:30px;padding-top:30px;}
.heading-h1{ font:28px bold;color:#0095ca; text-align:left; border-bottom:1px solid #b3b3b3;padding-bottom:5px;}
.headding-h1{ font:20px bold;color:#0095ca; text-align:left; border-bottom:1px solid #b3b3b3;padding-bottom:5px;}
#socialheader img{padding-left: 8px;float: left;}
#socialheader{float: right;padding-bottom:20px;padding-right:30px;}
.tdcontent {font-size:16px;color:white;text-shadow:none;text-align:left;}
.tdicon{width:100px;float:left;height:140px;padding:20px 10px auto 0px;}
.innerfooter{padding-top:30px;padding-left:75px;}
.innerfooter span{float:left;padding-left:20px;padding-right:20px;}
.innerfooter span ul li{font-size:14px;}
.marker {display:inline-block;background:url(../images/marker_3.gif) no-repeat;width:17px;height:17px}
.marker:hover {display:inline-block;background:url(../images/marker_1.gif) no-repeat;width:17px;height:17px}
#ContactForm {font-weight:bold;color:#323232;line-height:28px}
#ContactForm .wrapper {padding-bottom:6px}
#ContactForm .bg {background:url(/images/bg_input.gif) top repeat-x #e6e6e6;float:left;border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #e3e3e3;-moz-box-shadow:1px 1px 2px #e3e3e3;-webkit-box-shadow:1px 1px 2px #e3e3e3;behavior:url(js/PIE.htc);position:relative;height:26px;margin-bottom:10px;}
#ContactForm .bg2 {background:url(/images/bg_textarea.gif) top repeat-x #e6e6e6;float:right;border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #e3e3e3;-moz-box-shadow:1px 1px 2px #e3e3e3;-webkit-box-shadow:1px 1px 2px #e3e3e3;behavior:url(js/PIE.htc);position:relative;margin-bottom:10px;}
#ContactForm .button {margin-left:8px;margin-top:9px;float:left;margin-right:2px;font-size:20px;font-weight:700;color:#fff;line-height:35px;width:90px;text-align:center;background:url(../images/button_form.gif) top repeat-x #308da2;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;behavior:url(js/PIE.htc);position:relative;text-decoration:none}
#ContactForm .input {width:260px;height:16px;background:none;padding:5px 10px;color:#323232;font:13px Arial,Helvetica,sans-serif;margin:0}
#ContactForm textarea {overflow:auto;width:408px;height:181px;background:none;padding:5px 10px;color:#323232;font:13px Arial,Helvetica,sans-serif;margin:0;}
#ContactForm .button:hover {background:#696969}
#ContactForm .bg22 {background:url(../images/bg_textarea.gif) top repeat-x #e6e6e6;float:left;border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #e3e3e3;-moz-box-shadow:1px 1px 2px #e3e3e3;-webkit-box-shadow:1px 1px 2px #e3e3e3;behavior:url(js/PIE.htc);position:relative;width:270px;height:72px;margin-top:5px;}
#ContactForm .bg222 {background:url(../images/bg_input.gif) top repeat-x #e6e6e6;float:left;border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #e3e3e3;-moz-box-shadow:1px 1px 2px #e3e3e3;-webkit-box-shadow:1px 1px 2px #e3e3e3;behavior:url(js/PIE.htc);position:relative;height:23px;margin-top:5px;}
.iconblock{border-radius:3px;margin-left:30px;width:320px;height:140px;padding:20px;float:left;background-color:#2db348;box-shadow:3px 3px 3px 0px #688671;}
.iconblock a{text-align:center;font-size:16px;}
marquee{color:navy;font-size:20px;}
.batches{float:left;width:100%;}
.batchinfo th{color:green;font-size:16px;-moz-border-radius: 3px;    -webkit-border-radius: 3px;    border-radius: 3px;    -moz-box-shadow:0px 0px 3px #aaa;    -webkit-box-shadow:0px 0px 3px #aaa;    box-shadow:0px 0px 3px #aaa;padding:5px 10px;text-align:center;}
.batchinfo{float:right;background-color:#f4f4f4;font-size:16px;-moz-box-shadow:0px 0px 3px #aaa;-webkit-box-shadow:0px 0px 3px #aaa;box-shadow:0px 0px 3px #aaa;-moz-border-radius:3px;    -webkit-border-radius:3px;border-radius:3px;border:2px solid #fff;}
.batchinfo tr td{-moz-border-radius: 3px;    -webkit-border-radius: 3px;    border-radius: 3px;    -moz-box-shadow:0px 0px 3px #aaa;    -webkit-box-shadow:0px 0px 3px #aaa;    box-shadow:0px 0px 3px #aaa;padding:5px 10px;text-align:center;}
.h1{font:24px bold;color:green; text-align:center;-moz-border-radius: 3px;    -webkit-border-radius: 3px;    border-radius: 3px;    -moz-box-shadow:0px 0px 3px #aaa;    -webkit-box-shadow:0px 0px 3px #aaa;    box-shadow:0px 0px 3px #aaa;}
 .overlay{
            background:transparent url(/images/overlay.png) repeat top left;
            position:fixed;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            z-index:100;
        }
        .pop{
            float:left;
            position:fixed;
            top:80px;
            width:400px;
            left:-2000px;
            background-color:#fff;
            color:#7F7F7F;
            padding:20px;
            font-family: Times New Roman;
            border:2px solid #ccc;
            -moz-border-radius: 20px;
            -webkit-border-radius:20px;
            -khtml-border-radius:20px;
            -moz-box-shadow: 0 1px 5px #333;
            -webkit-box-shadow: 0 1px 5px #333;
            z-index:101;
        }
        .pop h1{
            border-bottom: 1px dashed #7F7F7F;
            margin:-20px -20px 0px -20px;
            padding:10px;
            background-color:#008AD0;
            color:#fff;
            font-size:21px;
            text-align:center;
            -moz-border-radius:20px 20px 0px 0px;
            -webkit-border-top-left-radius: 20px;
            -webkit-border-top-right-radius: 20px;
            -khtml-border-top-left-radius: 20px;
            -khtml-border-top-right-radius: 20px;
        }
        a.boxclose{
            float:right;
            width:26px;
            height:26px;
            background:transparent url(/images/cancel.png) repeat top left;
            margin-top:-30px;
            margin-right:-30px;
            cursor:pointer;
        }
.features li{padding-bottom:15px;}
.features{font-size:14px;}