@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext);
#wowslider-container1{zoom:1;position:relative;max-width:100%;z-index:90;text-align:left;margin:0 auto}
* html #wowslider-container1{width:100%}
#wowslider-container1 .ws_images ul{position:relative;width:10000%;height:auto;left:0;list-style:none;border-spacing:0;overflow:visible;animation:wsBasic 16s infinite;-moz-animation:wsBasic 16s infinite;-webkit-animation:wsBasic 16s infinite;margin:0;padding:0}
#wowslider-container1 .ws_images ul li{width:1%;line-height:0;float:left;font-size:0;margin:0!important;padding:0!important}
#wowslider-container1 .ws_images{position:relative;left:0;top:0;width:100%;height:100%;overflow:hidden}
#wowslider-container1 .ws_images a{width:100%;display:block;color:transparent}
#wowslider-container1 img{max-width:none!important}
#wowslider-container1 .ws_images img{width:100%;border:none 0;max-width:none;padding:0}
#wowslider-container1 a{text-decoration:none;outline:none;border:none}
#wowslider-container1 .ws_bullets{font-size:0;float:left;position:absolute;z-index:70;bottom:0;left:50%;padding:10px}
#wowslider-container1 .ws_bullets div{position:relative;float:left;left:-50%}
#wowslider-container1 a.wsl{display:none}
#wowslider-container1 .ws_bullets a{margin-left:4px;width:9px;height:9px;background:url(./bullet.png) left 50% no-repeat;float:left;text-indent:-4000px;position:relative;color:transparent}
#wowslider-container1 .ws_bullets a.ws_selbull,#wowslider-container1 .ws_bullets a:hover{background-position:right 50%}
#wowslider-container1 a.ws_next,#wowslider-container1 a.ws_prev{position:absolute;display:none;top:50%;margin-top:-28px;z-index:60;height:48px;width:48px;background-image:url(./arrows.png)}
#wowslider-container1 a.ws_next{background-position:100% 0;right:5px}
#wowslider-container1 a.ws_prev{left:5px;background-position:0 0}
#wowslider-container1 a.ws_next:hover{background-position:100% 100%}
#wowslider-container1 a.ws_prev:hover{background-position:0 100%}
#wowslider-container1 .ws-title{position:absolute;bottom:25px;left:25px;margin-right:25px;z-index:50;color:#ffffff;background:#4a4a4a;font-family:'Source Sans Pro',Arial,sans-serif;font-size:30px;line-height:30px;font-weight:normal;border-radius:0;opacity:0.8;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);padding:12px}
#wowslider-container1 .ws-title div{padding-top:5px;font-size:25px}
12.5%{left:0}
* html #wowslider-container1 a.ws_next,* html #wowslider-container1 a.ws_prev,#wowslider-container1:hover a.ws_next,#wowslider-container1:hover a.ws_prev{display:block}
25%,37.5%{left:-100%}
50%,62.5%{left:-200%}
75%,87.5%{left:-300%}